<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kimwonjoon.infrastructure.dao.IAiClientDao">

    <resultMap id="dataMap" type="top.kimwonjoon.infrastructure.dao.po.AiClient">
        <id column="id" property="id"/>
        <result column="client_name" property="clientName"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <!-- 根据条件查询智能体列表 -->
    <select id="queryClientListAll" parameterType="top.kimwonjoon.infrastructure.dao.po.AiClient" resultMap="dataMap">
        SELECT
        id, client_name, description, status, create_time, update_time
        FROM
        ai_client
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="clientName != null and clientName != ''">
                AND client_name LIKE CONCAT('%', #{clientName}, '%')
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        ORDER BY create_time DESC
        <if test="pageSize != null and pageSize > 0">
            LIMIT #{offset}, #{limit}
        </if>
    </select>
    <select id="queryClientById" resultType="top.kimwonjoon.infrastructure.dao.po.AiClient">
        SELECT
        id, client_name, description, status, create_time, update_time
        FROM
        ai_client
        WHERE
        id = #{id}
    </select>


</mapper>